In [1]:
import numpy as np
import pandas as pd

In [2]:
column_names=['user_id','item_id', 'rating', 'timestamp']
movie_columns=['item_id', 'movietitle']

In [3]:
column_names

['user_id', 'item_id', 'rating', 'timestamp']

In [4]:
pwd

'D:\\Recommender System'

In [5]:
df=pd.read_csv('ratings.csv', sep=',', names=column_names)

In [6]:
df.head(10)

   user_id  item_id  rating  timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291
5        1     1197       3  978302268
6        1     1287       5  978302039
7        1     2804       5  978300719
8        1      594       4  978302268
9        1      919       4  978301368

In [7]:
movie_titles=pd.read_csv('movies.csv', sep=',', names=movie_columns, encoding='latin-1')

In [8]:
movie_titles.head()

   item_id                          movietitle
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [9]:
df=pd.merge(df,movie_titles, on='item_id', how='left', sort='False')

In [10]:
df.head()

   user_id  item_id  rating  timestamp        movietitle
0        1        1       5  978824268  Toy Story (1995)
1        6        1       4  978237008  Toy Story (1995)
2        8        1       4  978233496  Toy Story (1995)
3        9        1       5  978225952  Toy Story (1995)
4       10        1       5  978226474  Toy Story (1995)

In [11]:
moviemat=df.pivot_table(index='user_id', columns='item_id', values='rating')

In [12]:
diff=set(range(1,3953))-set(moviemat.columns)

In [13]:
columns=set(moviemat.columns)

In [14]:
len(columns)

3706

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
df.shape

(1000209, 5)

In [17]:
moviemat.shape[0]

6040

In [18]:
#Chinmay's code for inplace splitting of train set

In [19]:
y=range(moviemat.shape[0])

In [20]:
indices=moviemat.iloc[1][moviemat.iloc[1].notnull()==True]

In [21]:
num=indices.count()
num

129

In [22]:
num_of_instances=int(0.2*num)
num_of_instances

25

In [23]:
test=indices.sample(n=num_of_instances, replace=False)
test

item_id
2427    2.0
3071    4.0
2571    4.0
648     4.0
1917    3.0
3699    2.0
1247    5.0
459     3.0
3107    2.0
1357    5.0
1210    4.0
1259    5.0
3654    3.0
2268    5.0
2916    3.0
1968    2.0
1527    4.0
2006    3.0
3578    5.0
982     4.0
3471    5.0
1246    5.0
1253    3.0
1370    5.0
349     4.0
Name: 2, dtype: float64

In [24]:
np.arange(1,6041)

array([   1,    2,    3, ..., 6038, 6039, 6040])

In [25]:
moviemat.columns.notnull()==True

array([ True,  True,  True, ...,  True,  True,  True], dtype=bool)

In [26]:
t_items=columns
t_users=np.arange(1,6041)
test_set=pd.DataFrame(index=t_items, columns=t_users)
train_set=pd.DataFrame(index=t_items, columns=t_users)
for user in t_users:
    rated_movies=moviemat.loc[user][moviemat.loc[user].notnull()==True]
    movie_count=rated_movies.count()
    test_set_count=int(0.2*movie_count)
    movie_for_tset=rated_movies.sample(n=test_set_count, replace=False)
    test_set[user][movie_for_tset.index]=movie_for_tset
    movie_for_train_set=rated_movies[~rated_movies.index.isin(movie_for_tset.index)]
    train_set[user][movie_for_train_set.index]=movie_for_train_set

In [27]:
#splitting of train set and test set done

In [28]:
test_set.head()

,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
test_set.shape

(3706, 6040)

In [30]:
train_set=train_set.transpose()
test_set=test_set.transpose()

In [31]:
train_set.head()

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
from sklearn.metrics import pairwise_distances

In [33]:
from sklearn import metrics

In [34]:
mean_X=train_set.copy()

In [35]:
mean_per_user=train_set.mean(axis=1)

In [36]:
mean_X=mean_X.sub(mean_per_user,axis='index')

In [37]:
mean_X.shape

(6040, 3706)

In [38]:
X1=(mean_X.fillna(value=0,inplace=False))#mean_x_filled with 0s

In [39]:
import sklearn.metrics as metrics

In [40]:
from sklearn.metrics import pairwise_distances

In [41]:
#adjusted_cosine_similarity

In [42]:
X1.head()

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
1,0.860465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
#transpose

In [44]:
X2=X1.transpose()

In [45]:
X2.head()

,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
1,0.860465,0.0,0.0,0.0,0.0,0.070175,0.0,0.133929,1.317647,0.878505,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,-0.549451
2,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.878505,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000
3,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,-1.580357,0.000000,0.0,0.0,0.0,0.000000
4,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,-0.866071,0.000000,0.000000,...,0.0,0.0,0.0,0.0,-0.580357,-1.341772,0.0,0.0,0.0,0.000000
5,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,-1.580357,0.000000,0.0,0.0,0.0,0.000000

In [46]:
adjusted_cosine_sim=1-pairwise_distances(X2,metric='cosine')

In [47]:
X4=(pd.DataFrame(data=adjusted_cosine_sim,index=columns,columns=columns)).copy()

In [48]:
mean_X_trans=mean_X.transpose()

In [49]:
X_train_trans=train_set.transpose()

In [50]:
X_train_trans=X_train_trans.fillna(value=0, inplace=False)

In [51]:
#adjusted _cosine_similarity calculation done

In [52]:
#cosine_similarity

In [53]:
cosine_sim=1-pairwise_distances(X_train_trans,metric='cosine')

In [54]:
X3=(pd.DataFrame(data=cosine_sim,index=columns,columns=columns)).copy()

In [55]:
#cosine_similarity_ends

In [56]:
#pearson_correlation

pearson_sim=1-pairwise_distances(X2,metric='correlation')

X5=pd.DataFrame(pearson_sim)

In [58]:
#pearson_correlation_ends

In [59]:
############################begin nearest_neighbours_calculation using pandas

sorted_item_similarity=pd.DataFrame(index=columns,columns=columns);

for i in columns:
    sorted_item_similarity[i]=X4[i].sort_values(ascending=False).index

sorted_item_similarity.head()

In [60]:
###########################end calculation using pandas

In [61]:
###########################begin complete prediction calculation using numpy arrays

In [62]:
sorted_item_similarity=(X4.values).copy()

In [63]:
#creating dictionary to map array indices of items to actual item indices in dataframe

In [64]:
dict_indices={}
X4_indices=X4.index
np_array_indices=range(0,len(X4_indices))
dict_indices=dict(zip(np_array_indices,X4_indices))

In [65]:
sorted_item_similarity[0]

array([ 1.        , -0.0263386 , -0.04987279, ...,  0.00863616,
        0.00837243,  0.04506548])

In [66]:
sorted_item_similarity=(-sorted_item_similarity).argsort(axis=1)
#AXIS='columns'
#(-sign)to do sorting in descending order
#sorting each row in descending order and storing the index of sorted elements

In [67]:
sorted_item_similarity[0]

array([   0, 2898, 1108, ...,  532, 2440,  154], dtype=int64)

In [68]:
#replacing the np indices by actual indices from dictionary (dict_indices)
for i in np_array_indices:
    sorted_item_similarity[i]=[dict_indices[x] for x in sorted_item_similarity[i]]

In [69]:
sorted_item_similarity[0]

array([   1, 3114, 1198, ...,  546, 2642,  160], dtype=int64)

In [70]:
#..........................prediction calculation starts using k nearest neighbours

In [71]:
train_set=train_set.fillna(value=0)
train_set.head()

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
#creating np array of test_set
test_set_np=(test_set.values).copy()
test_set_np=test_set_np.astype('float64')

In [73]:
#create numpy arrays for train_set and predictions for faster calculations

In [74]:
train_set_np=(train_set.values).copy()
train_set_np=train_set_np.astype('float64')

In [75]:
predictions=test_set_np.copy()

In [76]:
#create a dictionary to map actual items to numpy indices by reversing dict_indices

In [77]:
rev_indices={v:k for k,v in dict_indices.items()}

In [78]:
#create a dictionary to map actual users to numpy indices

In [79]:
rev_user_indices=dict(zip(list(test_set.index),range(0,len(test_set.index))))

In [80]:
#creating a dictionary which maps each items to its active users in test set(users who rated that item)
items=list(test_set.columns)
indices={}
for target_item in items:
    active_users=test_set[target_item][test_set[target_item].isnull()==False].index
    indices.update({target_item:active_users})

In [81]:
# indices[7]

In [84]:
#Code to generate predictions on a test_set for a given k

In [85]:
#for a given k
k=500
for target_item in items:
    rev_tar_item=rev_indices[target_item]#np index of target item 
    for users in indices[target_item]:
        k_sim=sorted_item_similarity[rev_tar_item][1:k]
        #note k_sim contains actual indices of k similar items
        weighted_sum=0
        similarity_sum=0
        rev_user_idx=rev_user_indices[users]#np index of user
        for j in k_sim:
            rev_j=rev_indices[j]#np index of each similar item j
            weighted_sum+=adjusted_cosine_sim[rev_tar_item][rev_j]*train_set_np[rev_user_idx][rev_j] 
            similarity_sum+=abs(adjusted_cosine_sim[rev_tar_item][rev_j])
        if similarity_sum!=0:
            predictions[rev_user_idx,rev_tar_item]=(weighted_sum/similarity_sum)
        else:
            predictions[rev_user_idx,rev_tar_item]=0

In [86]:
pred_dataframe=pd.DataFrame(data=predictions,index=test_set.index,columns=test_set.columns)
pred_dataframe=pred_dataframe.astype('float64')

In [87]:
pred_dataframe=pred_dataframe.add(mean_per_user,axis='index')

In [88]:
absolute_predictions=(pred_dataframe.values).copy()
absolute_predictions=absolute_predictions.astype('float64')

In [89]:
absolute_predictions[absolute_predictions>5]=5
absolute_predictions[absolute_predictions<1]=1

C:\Users\Roshan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in greater
  """Entry point for launching an IPython kernel.
C:\Users\Roshan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in less

In [ ]:
#######################################end predictions using numpy

In [ ]:
#########################################begin predictions using pandas dataframe

In [ ]:
##...checking for active users who rated in test_set for item 1..
#indices=test_set[1][test_set[1].isnull()==False].index

items=list(test_set.columns)
len(items)

In [ ]:
# creating a list of active users of each item

indices={}
for target_item in items:
    active_users=test_set[target_item][test_set[target_item].isnull()==False].index
    indices.update({target_item:active_users})

In [ ]:
#.....................Checking first k columns of sorted_similarity_matrix and predicitng on basis of that...
#....................

k=6
predictions=test_set.copy()
for target_item in items:
    for users in indices[target_item]:
        k_sim=sorted_item_similarity[target_item][2:k+1]
        weighted_sum=0
        similarity_sum=0
        for j in k_sim:
            weighted_sum+=X4.loc[target_item][j]*train_set.loc[users][j] 
            similarity_sum+=X4.loc[target_item][j]
        predictions.loc[users][target_item]=(weighted_sum/similarity_sum)     `

predictions.head()

In [ ]:
#........END of calculating predictions using given k

In [ ]:
#.....................Checking Entire Row  of sorted_item_similarity_matrix for k similar items Code...........
#............



 indices=test_set[1][test_set[1].isnull()==False].index
k=5
predictions=[]
for users in indices:
    countItemsChecked=0
    k_sim=sorted_item_similarity[1][2:k+1]
    weighted_sum=0
    similarity_sum=0
    for j in k_sim:
        if pd.isnull(train_set.loc[users][j]):
            weighted_sum+=X4.loc[1][j]*train_set.loc[users][j] 
            similarity_sum+=X4.loc[1][j]
            countItemsChecked+=1
        if countItemsChecked==k:
            break
    if similarity_sum==0 or weighted_sum==0:
            predictions.append(0)
    else:
        predictions.append(weighted_sum/similarity_sum)

In [ ]:
#.....................END OF Checking Entire Row  of sorted_item_similarity_matrix for k similar items Code...........

In [ ]:
#######################################Calculation of Error metrics##############

In [ ]:
#begin code for pandas

y_test=test_set.copy()
predictions_without_nan=predictions.copy()

y_test.fillna(value=0,inplace=True)
predictions_without_nan.fillna(value=0,inplace=True)

In [ ]:
#end code for pandas

In [ ]:
#begin code for numpy

#Useless code
predictions_without_nan=predictions.copy()
y_test=test_set_np.copy()
where_are_nans=np.isnan(np.array(predictions,dtype=np.float64))
predictions_without_nan[where_are_nans]=0
where_are_nans=np.isnan(np.array(test_set_np,dtype=np.float64))
y_test[where_are_nans]=0

In [90]:
# extract all non-nan values from test set and predictions
y_pred=absolute_predictions[~np.isnan(absolute_predictions)]
y_true=test_set_np[~np.isnan(test_set_np)]

In [91]:
#end code for numpy

In [92]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_true,y_pred))
print('MSE:', metrics.mean_squared_error(y_true,y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_true,y_pred)))

MAE: 0.892588666018
MSE: 1.33083041416
RMSE: 1.15361623348

In [ ]:
#..............END of calculation of error metrics

In [ ]:
################################plotting error vs k#################################

from sklearn import metrics

error=[]
k_values=[521,729,786]

train_set=train_set.fillna(value=0)
train_set.head()
#creating np array of test_set
test_set_np=(test_set.values).copy()
test_set_np=test_set_np.astype('float64')
predictions=test_set_np.copy()
rev_indices={v:k for k,v in dict_indices.items()}
rev_user_indices=dict(zip(list(test_set.index),range(0,len(test_set.index))))
#creating a dictionary which maps each items to its active users in test set(users who rated that item)
items=list(test_set.columns)
indices={}
for target_item in items:
    active_users=test_set[target_item][test_set[target_item].isnull()==False].index
    indices.update({target_item:active_users})
for k in k_values:
    print(k)
    for target_item in items:
        rev_tar_item=rev_indices[target_item]#np index of target item 
        for users in indices[target_item]:
            k_sim=sorted_item_similarity[rev_tar_item][1:k]
            #note k_sim contains actual indices of k similar items
            weighted_sum=0
            similarity_sum=0
            rev_user_idx=rev_user_indices[users]#np index of user
            for j in k_sim:
                rev_j=rev_indices[j]#np index of each similar item j
                weighted_sum+=adjusted_cosine_sim[rev_tar_item][rev_j]*train_set_np[rev_user_idx][rev_j] 
                similarity_sum+=abs(adjusted_cosine_sim[rev_tar_item][rev_j])
            if similarity_sum!=0:
                predictions[rev_user_idx,rev_tar_item]=(weighted_sum/similarity_sum)
            else:
                predictions[rev_user_idx,rev_tar_item]=0
    #error calculation
    pred_dataframe=pd.DataFrame(data=predictions,index=test_set.index,columns=test_set.columns)
    pred_dataframe=pred_dataframe.astype('float64')
    pred_dataframe=pred_dataframe.add(mean_per_user,axis='index')
    absolute_predictions=(pred_dataframe.values).copy()
    absolute_predictions=absolute_predictions.astype('float64')
    absolute_predictions[absolute_predictions>5]=5
    absolute_predictions[absolute_predictions<0]=0
    # extract all non-nan values from test set and predictions
    y_pred=absolute_predictions[~np.isnan(absolute_predictions)]
    y_true=test_set_np[~np.isnan(test_set_np)]
    error.append(metrics.mean_absolute_error(y_true,y_pred))

error

error=error[3:]

error

import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(10,6))
plt.plot(k_values,error,color='blue', linestyle='dashed', marker='o',
         markerfacecolor='red', markersize=10)
plt.title('Error Rate vs. K Value')
plt.xlabel('K')
plt.ylabel('Error Rate')

In [ ]:
################################Precision and Recall

In [93]:
tp=y_pred[(y_pred>=4) &(y_true>=4)].shape[0]
fp=y_pred[(y_pred>=4) & (y_true<4)].shape[0]
tn=y_pred[(y_pred<4) & (y_true>=4)].shape[0]
precision=tp/(tp+fp)
recall=tp/(tp+tn)
f1_score=2*precision*recall/(precision+recall)
print('precision= ',precision)
print('recall= ',recall)
print('f1 score= ',f1_score)

precision=  0.706263481002157
recall=  0.7480602785466368
f1 score=  0.72656126650878