In [1]:
import numpy as np
import pandas as pd

In [2]:
column_names=['user_id','item_id', 'rating', 'timestamp']
movie_columns=['item_id', 'movietitle']

In [3]:
column_names

['user_id', 'item_id', 'rating', 'timestamp']

In [4]:
pwd

'D:\\Recommender System'

In [5]:
df=pd.read_csv('ratings.csv', sep=',', names=column_names)

In [6]:
df.head(10)

   user_id  item_id  rating  timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291
5        1     1197       3  978302268
6        1     1287       5  978302039
7        1     2804       5  978300719
8        1      594       4  978302268
9        1      919       4  978301368

In [7]:
movie_titles=pd.read_csv('movies.csv', sep=',', names=movie_columns, encoding='latin-1')

In [8]:
movie_titles.head()

   item_id                          movietitle
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [9]:
df=pd.merge(df,movie_titles, on='item_id', how='left', sort='False')

In [10]:
df.head()

   user_id  item_id  rating  timestamp        movietitle
0        1        1       5  978824268  Toy Story (1995)
1        6        1       4  978237008  Toy Story (1995)
2        8        1       4  978233496  Toy Story (1995)
3        9        1       5  978225952  Toy Story (1995)
4       10        1       5  978226474  Toy Story (1995)

In [11]:
moviemat=df.pivot_table(index='user_id', columns='item_id', values='rating')

In [12]:
diff=set(range(1,3953))-set(moviemat.columns)

In [13]:
columns=set(moviemat.columns)

In [14]:
columns

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 110,
 111,
 112,
 113,
 114,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 396,
 397,
 398,
 401,
 402,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 621,
 623,
 624,
 626,
 627,
 628,
 630,
 631,
 632,
 633,
 634,
 635,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 678,
 679,
 680,
 681,
 682,
 684,
 685,
 687,
 688,
 690,
 691,
 692,
 694,
 695,
 696,
 697,
 698,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 722,
 724,
 725,
 726,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 769,
 771,
 774,
 775,
 776,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 796,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 813,
 814,
 815,
 818,
 820,
 821,
 823,
 824,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 872,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 884,
 885,
 886,
 887,
 888,
 889,
 891,
 892,
 893,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 980,
 981,
 982,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 996,
 997,
 998,
 999,
 1000,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1046,
 1047,
 1049,
 1050,
 1051,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1066,
 1067,
 1068,
 ...}

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
df.shape

(1000209, 5)

In [17]:
moviemat.shape[0]

6040

In [18]:
columns

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 110,
 111,
 112,
 113,
 114,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 396,
 397,
 398,
 401,
 402,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 621,
 623,
 624,
 626,
 627,
 628,
 630,
 631,
 632,
 633,
 634,
 635,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 678,
 679,
 680,
 681,
 682,
 684,
 685,
 687,
 688,
 690,
 691,
 692,
 694,
 695,
 696,
 697,
 698,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 722,
 724,
 725,
 726,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 769,
 771,
 774,
 775,
 776,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 796,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 813,
 814,
 815,
 818,
 820,
 821,
 823,
 824,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 872,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 884,
 885,
 886,
 887,
 888,
 889,
 891,
 892,
 893,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 980,
 981,
 982,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 996,
 997,
 998,
 999,
 1000,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1046,
 1047,
 1049,
 1050,
 1051,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1066,
 1067,
 1068,
 ...}

In [19]:
#Chinmay's code for inplace splitting of train set

In [20]:
y=range(moviemat.shape[0])

In [21]:
indices=moviemat.iloc[1][moviemat.iloc[1].notnull()==True]

In [22]:
num=indices.count()
num

129

In [23]:
num_of_instances=int(0.2*num)
num_of_instances

25

In [24]:
test=indices.sample(n=num_of_instances, replace=False)
test

item_id
457     4.0
1188    4.0
2321    3.0
2427    2.0
1357    5.0
1103    3.0
1873    4.0
1207    4.0
380     5.0
442     3.0
459     3.0
3809    3.0
1370    5.0
1801    3.0
589     4.0
593     5.0
1408    3.0
3418    4.0
3095    4.0
1244    3.0
368     4.0
3468    5.0
21      1.0
2028    4.0
1084    3.0
Name: 2, dtype: float64

In [25]:
np.arange(1,6041)

array([   1,    2,    3, ..., 6038, 6039, 6040])

In [26]:
moviemat.columns.notnull()==True

array([ True,  True,  True, ...,  True,  True,  True], dtype=bool)

In [27]:
t_index=columns
t_columns=np.arange(1,6041)
test_set=pd.DataFrame(index=t_index, columns=t_columns)
train_set=pd.DataFrame(index=t_index, columns=t_columns)
for i in t_columns:
    indices=moviemat.loc[i][moviemat.loc[i].notnull()==True]
    num=indices.count()
    num_of_instances=int(0.2*num)
    test=indices.sample(n=num_of_instances, replace=False)
    test_set[i][test.index]=test
    train=indices[~indices.index.isin(test.index)]
    train_set[i][train.index]=train

In [28]:
#splitting of train set and test set done

In [29]:
test_set=test_set.astype('float64')
list1,list2=[],[]
list1=test_set.count(axis=1)
train_set=train_set.astype('float64')
list2=(train_set.count(axis=1))
list3={}
list3=dict(zip(list1,list2))

In [30]:
list3

{0: 1,
 1: 8,
 2: 5,
 3: 20,
 4: 18,
 5: 49,
 6: 33,
 7: 33,
 8: 18,
 9: 17,
 10: 45,
 11: 38,
 12: 28,
 13: 33,
 14: 52,
 15: 81,
 16: 54,
 17: 70,
 18: 82,
 19: 116,
 20: 84,
 21: 96,
 22: 72,
 23: 98,
 24: 88,
 25: 110,
 26: 125,
 27: 93,
 28: 74,
 29: 115,
 30: 94,
 31: 136,
 32: 116,
 33: 114,
 34: 166,
 35: 144,
 36: 146,
 37: 111,
 38: 142,
 39: 139,
 40: 194,
 41: 165,
 42: 138,
 43: 156,
 44: 188,
 45: 196,
 46: 200,
 47: 187,
 48: 201,
 49: 174,
 50: 245,
 51: 228,
 52: 223,
 53: 231,
 54: 215,
 55: 193,
 56: 221,
 57: 202,
 58: 292,
 59: 246,
 60: 244,
 61: 264,
 62: 243,
 63: 226,
 64: 274,
 65: 224,
 66: 275,
 67: 293,
 68: 277,
 69: 284,
 70: 197,
 71: 350,
 72: 316,
 73: 233,
 74: 286,
 75: 266,
 76: 411,
 77: 418,
 78: 287,
 79: 277,
 80: 268,
 81: 338,
 82: 293,
 83: 348,
 84: 451,
 85: 395,
 86: 392,
 87: 321,
 88: 341,
 89: 364,
 90: 323,
 91: 344,
 92: 354,
 93: 392,
 94: 457,
 95: 355,
 96: 393,
 97: 366,
 98: 379,
 99: 421,
 100: 424,
 101: 336,
 102: 443,
 103: 415,
 104: 401,
 105: 453,
 106: 436,
 107: 477,
 108: 425,
 109: 433,
 110: 449,
 111: 502,
 112: 589,
 113: 408,
 114: 382,
 115: 519,
 116: 396,
 117: 509,
 118: 402,
 119: 471,
 120: 568,
 121: 492,
 122: 462,
 123: 468,
 124: 478,
 125: 430,
 126: 502,
 127: 496,
 128: 496,
 129: 566,
 130: 500,
 131: 536,
 132: 525,
 133: 510,
 134: 588,
 135: 523,
 136: 587,
 137: 555,
 138: 562,
 139: 489,
 140: 526,
 141: 698,
 142: 510,
 143: 648,
 144: 655,
 145: 666,
 146: 565,
 147: 572,
 148: 643,
 149: 595,
 150: 653,
 151: 658,
 152: 669,
 153: 521,
 154: 576,
 155: 706,
 156: 615,
 157: 645,
 158: 607,
 159: 647,
 160: 617,
 161: 701,
 162: 655,
 163: 618,
 165: 717,
 166: 584,
 167: 707,
 168: 716,
 170: 714,
 171: 691,
 172: 716,
 173: 680,
 174: 733,
 175: 675,
 176: 662,
 177: 725,
 178: 587,
 179: 646,
 180: 685,
 181: 829,
 182: 670,
 183: 752,
 185: 760,
 186: 726,
 187: 751,
 189: 734,
 190: 696,
 191: 843,
 192: 829,
 193: 789,
 194: 905,
 195: 783,
 196: 801,
 197: 770,
 198: 854,
 199: 797,
 200: 963,
 201: 909,
 202: 799,
 203: 711,
 204: 839,
 205: 867,
 206: 788,
 207: 1026,
 208: 799,
 209: 796,
 210: 919,
 212: 854,
 213: 800,
 215: 867,
 216: 774,
 217: 772,
 218: 909,
 219: 827,
 220: 846,
 221: 898,
 222: 867,
 225: 933,
 226: 894,
 227: 901,
 229: 884,
 230: 888,
 231: 864,
 232: 827,
 233: 902,
 234: 853,
 235: 841,
 237: 985,
 238: 1075,
 239: 960,
 240: 908,
 241: 917,
 242: 1017,
 243: 977,
 244: 912,
 246: 1015,
 249: 973,
 250: 957,
 251: 901,
 252: 1061,
 253: 976,
 254: 1117,
 256: 984,
 257: 1160,
 258: 1094,
 259: 1038,
 261: 1158,
 262: 1094,
 263: 1149,
 266: 1079,
 267: 1084,
 269: 1060,
 270: 1056,
 272: 997,
 273: 1042,
 274: 1041,
 275: 1114,
 276: 1145,
 278: 1095,
 280: 1051,
 284: 1189,
 287: 1090,
 288: 1207,
 289: 1145,
 290: 1092,
 295: 1244,
 296: 1071,
 298: 1043,
 300: 1268,
 304: 1218,
 305: 1186,
 306: 1128,
 307: 1239,
 308: 1143,
 309: 1115,
 314: 1197,
 316: 1336,
 321: 1206,
 322: 1305,
 323: 1380,
 327: 1370,
 331: 1297,
 332: 1267,
 335: 1322,
 336: 1249,
 343: 1373,
 346: 1346,
 349: 1436,
 351: 1469,
 354: 1377,
 355: 1375,
 360: 1306,
 361: 1422,
 364: 1435,
 367: 1629,
 369: 1431,
 372: 1356,
 388: 1536,
 395: 1600,
 400: 1698,
 413: 1875,
 416: 1608,
 419: 1752,
 422: 1759,
 425: 1825,
 431: 1810,
 440: 1829,
 441: 1636,
 444: 1874,
 447: 1780,
 455: 1823,
 456: 1738,
 463: 1760,
 467: 1992,
 470: 2068,
 472: 1971,
 475: 1829,
 478: 2194,
 488: 2026,
 494: 2019,
 495: 2095,
 502: 2081,
 507: 2142,
 509: 1860,
 535: 2043,
 554: 2099,
 557: 2326,
 562: 2428,
 610: 2381,
 642: 2786}

In [31]:
test_set.head()

,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
test_set.shape

(3706, 6040)

In [33]:
train_set=train_set.transpose()
test_set=test_set.transpose()

In [34]:
train_set.head(10)

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
1,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
10,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
from sklearn.metrics import pairwise_distances

In [36]:
from sklearn import metrics

In [37]:
mean_X=train_set.copy()

In [38]:
mean_per_user=train_set.mean(axis=1)

In [39]:
mean_X=mean_X.sub(mean_per_user,axis='index')

In [40]:
mean_X.shape

(6040, 3706)

In [41]:
X1=(mean_X.fillna(value=0,inplace=False))#mean_x_filled with 0s

In [42]:
import sklearn.metrics as metrics

In [43]:
from sklearn.metrics import pairwise_distances

In [44]:
#adjusted_cosine_similarity

In [45]:
X1.head()

,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
1,0.767442,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.000000,0.0,0.0,0.0,0.0,-1.18239,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
#transpose

In [47]:
X2=X1.transpose()

In [48]:
X2.head()

,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
1,0.767442,0.0,0.0,0.0,0.0,0.105263,0.0,0.080357,1.294118,0.000000,...,0.0,-0.107143,0.0,0.0,1.419643,0.00000,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.909657,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,-1.580357,0.00000,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,-0.919643,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,-0.580357,-1.30661,0.0,0.0,0.0,0.0
5,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,-1.580357,0.00000,0.0,0.0,0.0,0.0

In [49]:
adjusted_cosine_sim=1-pairwise_distances(X2,metric='cosine')

In [50]:
X4=(pd.DataFrame(data=adjusted_cosine_sim,index=columns,columns=columns)).copy()

In [51]:
mean_X_trans=mean_X.transpose()

In [52]:
X_train_trans=train_set.transpose()

In [53]:
X_train_trans=X_train_trans.fillna(value=0, inplace=False)

In [54]:
#adjusted _cosine_similarity calculation done

In [55]:
#cosine_similarity

In [56]:
cosi_sim=1-pairwise_distances(X_train_trans,metric='cosine')

In [57]:
X3=(pd.DataFrame(data=cosi_sim,index=columns,columns=columns)).copy

In [58]:
#cosine_similarity_ends

In [59]:
#pearson_correlation

pearson_sim=1-pairwise_distances(X2,metric='correlation')

X5=pd.DataFrame(pearson_sim)

In [60]:
#pearson_correlation_ends

In [61]:
############################begin nearest_neighbours_calculation using pandas

sorted_item_similarity=pd.DataFrame(index=columns,columns=columns);

for i in columns:
    sorted_item_similarity[i]=X4[i].sort_values(ascending=False).index

sorted_item_similarity.head()

In [62]:
###########################end calculation using pandas

In [63]:
###########################begin complete prediction calculation using numpy arrays

In [64]:
sorted_item_similarity=(X4.values).copy()

In [65]:
#creating dictionary to map np_array indices to actual indices in dataframe

In [ ]:
dict_indices={}
X4_indices=X4.index
np_array_indices=range(0,len(X4_indices))
dict_indices=dict(zip(np_array_indices,X4_indices))

In [ ]:
sorted_item_similarity[0]

In [ ]:
sorted_item_similarity=(-sorted_item_similarity).argsort(axis=1)
#AXIS='columns'
#(-sign)to do sorting in descending order
#sorting each row in descending order and storing the index of sorted elements

In [ ]:
sorted_item_similarity[0]

In [ ]:
#replacing the np indices by actual indices from dictionary (dict_indices)
for i in np_array_indices:
    sorted_item_similarity[i]=[dict_indices[x] for x in sorted_item_similarity[i]]

In [ ]:
sorted_item_similarity[0]

In [ ]:
#..........................prediction calculation starts using k nearest neighbours

In [ ]:
train_set=train_set.fillna(value=0)
train_set.head()

In [ ]:
#creating np array of test_set
test_set_np=(test_set.values).copy()
test_set_np=test_set_np.astype('float64')

In [ ]:
#create numpy arrays for train_set and predictions for faster calculations

In [ ]:
train_set_np=(train_set.values).copy()
train_set_np=train_set_np.astype('float64')

In [ ]:
predictions=test_set_np.copy()

In [ ]:
test_set_np.dtype

In [ ]:
#create a dictionary to map actual items to numpy indices by reversing dict_indices

In [ ]:
rev_indices={v:k for k,v in dict_indices.items()}

In [ ]:
#create a dictionary to map actual users to numpy indices

In [ ]:
rev_user_indices=dict(zip(list(test_set.index),range(0,len(test_set.index))))

In [ ]:
#creating a dictionary which maps each items to its active users in test set(users who rated that item)
items=list(test_set.columns)
indices={}
for target_item in items:
    active_users=test_set[target_item][test_set[target_item].isnull()==False].index
    indices.update({target_item:active_users})

In [ ]:
# indices[7]

In [ ]:
#Code to generate predictions on a test_set for a given k

In [ ]:
#for a given k
k=5
for target_item in items:
    rev_tar_item=rev_indices[target_item]#np index of target item 
    for users in indices[target_item]:
        k_sim=sorted_item_similarity[rev_tar_item][1:k]
        #note k_sim contains actual indices of k similar items
        weighted_sum=0
        similarity_sum=0
        rev_user_idx=rev_user_indices[users]#np index of user
        for j in k_sim:
            rev_j=rev_indices[j]#np index of each similar item j
            weighted_sum+=adjusted_cosine_sim[rev_tar_item][rev_j]*train_set_np[rev_user_idx][rev_j] 
            similarity_sum+=adjusted_cosine_sim[rev_tar_item][rev_j]
        if similarity_sum!=0:
#             print(users,target_item,(weighted_sum/similarity_sum))
            predictions[rev_user_idx,rev_tar_item]=(weighted_sum/similarity_sum)
#             print(predictions[rev_user_idx,rev_tar_item])
#             print("\n")
        else:
            predictions[rev_user_idx,rev_tar_item]=0

In [ ]:
predictions[5][0]

In [ ]:
#######################################end predictions using numpy

In [ ]:
#########################################begin predictions using pandas dataframe

In [ ]:
##...checking for active users who rated in test_set for item 1..
#indices=test_set[1][test_set[1].isnull()==False].index

items=list(test_set.columns)
len(items)

In [ ]:
# creating a list of active users of each item

indices={}
for target_item in items:
    active_users=test_set[target_item][test_set[target_item].isnull()==False].index
    indices.update({target_item:active_users})

In [ ]:
#.....................Checking first k columns of sorted_similarity_matrix and predicitng on basis of that...
#....................

k=6
predictions=test_set.copy()
for target_item in items:
    for users in indices[target_item]:
        k_sim=sorted_item_similarity[target_item][2:k+1]
        weighted_sum=0
        similarity_sum=0
        for j in k_sim:
            weighted_sum+=X4.loc[target_item][j]*train_set.loc[users][j] 
            similarity_sum+=X4.loc[target_item][j]
        predictions.loc[users][target_item]=(weighted_sum/similarity_sum)     `

predictions.head()

In [ ]:
#........END of calculating predictions using given k

In [ ]:
#.....................Checking Entire Row  of sorted_item_similarity_matrix for k similar items Code...........
#............



 indices=test_set[1][test_set[1].isnull()==False].index
k=5
predictions=[]
for users in indices:
    countItemsChecked=0
    k_sim=sorted_item_similarity[1][2:k+1]
    weighted_sum=0
    similarity_sum=0
    for j in k_sim:
        if pd.isnull(train_set.loc[users][j]):
            weighted_sum+=X4.loc[1][j]*train_set.loc[users][j] 
            similarity_sum+=X4.loc[1][j]
            countItemsChecked+=1
        if countItemsChecked==k:
            break
    if similarity_sum==0 or weighted_sum==0:
            predictions.append(0)
    else:
        predictions.append(weighted_sum/similarity_sum)

In [ ]:
#.....................END OF Checking Entire Row  of sorted_item_similarity_matrix for k similar items Code...........

In [ ]:
#######################################Calculation of Error metrics##############

In [ ]:
#begin code for pandas

y_test=test_set.copy()
predictions_without_nan=predictions.copy()

y_test.fillna(value=0,inplace=True)
predictions_without_nan.fillna(value=0,inplace=True)

In [ ]:
#end code for pandas

In [ ]:
#begin code for numpy

In [ ]:
predictions_without_nan=predictions.copy()
y_test=test_set_np.copy()
where_are_nans=np.isnan(np.array(predictions,dtype=np.float64))
predictions_without_nan[where_are_nans]=0
where_are_nans=np.isnan(np.array(test_set_np,dtype=np.float64))
y_test[where_are_nans]=0

In [ ]:
#end code for numpy

In [ ]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, predictions_without_nan))
print('MSE:', metrics.mean_squared_error(y_test, predictions_without_nan))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions_without_nan)))

In [ ]:
#..............END of calculation of error metrics

In [ ]:
################################plotting error vs k#################################

from sklearn import metrics

error=[]
k_values=list(range(100,200))

for k in k_values:
    predictions=test_set_np.copy()
    y_test=test_set_np.copy()
    for target_item in items:
        rev_tar_item=rev_indices[target_item]#np index of target item 
        for users in indices[target_item]:
            k_sim=sorted_item_similarity[rev_tar_item][1:k]
            #note k_sim contains actual indices of k similar items
            weighted_sum=0
            similarity_sum=0
            rev_user_idx=rev_user_indices[users]#np index of user
            for j in k_sim:
                rev_j=rev_indices[j]#np index of each similar item j
                weighted_sum+=adjusted_cosine_sim[rev_tar_item][rev_j]*train_set_np[rev_user_idx][rev_j] 
                similarity_sum+=adjusted_cosine_sim[rev_tar_item][rev_j]
            if similarity_sum!=0:    
                predictions[rev_user_idx][rev_tar_item]=(weighted_sum/similarity_sum)
            else:
                predictions[rev_user_idx][rev_tar_item]=0
    #error calculation
    predictions[(np.isnan(np.array(predictions,dtype=np.float64)))]=0
    y_test[(np.isnan(np.array(y_test,dtype=np.float64)))]=0
    error.append(metrics.mean_absolute_error(y_test, predictions))

error